# Telegram bot configuration
BOT_TOKEN=your_tg_bot_token
ADMIN_ID=your_tg_id

# Database configuration
DB_USER=your_database_user
DB_PASSWORD=your_database_pass
DB_NAME=your_database_name
DB_HOST=your_database_host
DB_PORT=your_database_port

# Redis configuration
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port

# 3X-UI configuration
SERVER_IP=your_server_ip
PANEL_LOGIN=your_panel_login
PANEL_PASSWORD=your_panel_password
PANEL_HOST=your_panel_host

# VLESS key configuration
ENCRYPTION=your_server_encryption
SERVICE_NAME=your_service_name
PBK=your_pbk
FP=your_fp
SNI=your_sni
SID=your_sid
SPX=your_spx
PQV=your_pqv